{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Nouveau rapport de visite{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Nouveau rapport de visite</h1>
        {{ form(form) }}
    </div>
{% endblock %}