{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block breadcrumb %}
    <li class="active">Accueil</li>
{% endblock %}

{% block body %}
    <div class="container">
        <p class="lead">
            Bonjour, <br/><br/>
            Cette application vous permet de consulter les médicaments et les médecins. <br/>
            En effet, vous pourrez obtenir une description des produits que vous propose le laboratoire, mais également les coordonnées précises et les informations détaillées des praticiens. <br/>
            Vous aurez aussi la possibilité de saisir et d'afficher un / vos raport(s) de visite. <br/>
            Vous pouvez choisir d'afficher et de modifier les informations de votre profil.<br/><br/>
            Merci de votre visite !
        </p>
    </div>
{% endblock %}
