{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('gsb_report_accueil') }}">Accueil</a></li>
    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="active">Modifier mot de passe</li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-10 col-md-10 col-sm-12">
            {% block fos_user_content %}
                {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
