{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Médicaments{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('gsb_report_accueil') }}">Accueil</a></li>
    <li class="active">Médicaments</li>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Médicaments</h1>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                    <tr>
                        <td>Nom commercial</td>
                        <td>Famille</td>
                    </tr>
                </thead>
                <tbody>
                    {% for medicament in medicaments %}
                        <tr>
                            <td>{{ medicament.nomCommercial }}</td>
                            <td>{{ medicament.famille.libelleFamille }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}