{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Rechercher un médicaments{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Rechercher un médicaments</h1>
        {{ form(form) }}
    </div>
{% endblock %}