{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Rechercher des médicaments{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('gsb_report_accueil') }}">Accueil</a></li>
    <li><a href="{{ path('gsb_report_medicaments') }}">Médicaments</a></li>
    <li class="active">Rechercher</li>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Rechercher des médicaments</h1>
        {{ form(form) }}
    </div>
{% endblock %}
