{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Rechercher des praticiens{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Rechercher des praticiens</h1>
        {{ form(form) }}
    </div>
{% endblock %}